* {
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 /* TODO: REMOVE TESTHEADER AND USE A BETTER ID/CLASS */
#testheader {
    color: #182C61;
    font-family: sans-serif;
}

.nav-wrap {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background: #2C3A47;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-wrap .link {
    width: 25%;
    padding: 1em 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active {
    background: #182C61;
}
